---
import type { GetStaticPaths } from "astro";
import fetchArticles from "../../lib/fetchArticles";
import PrimaryLayout from "../../layouts/PrimaryLayout.astro";
export async function getStaticPaths() {
  const articles = await fetchArticles();
  
  return articles.map((article) => ({
    params: {
      slug: article.data.slug
    },
    props: {
      articleData: article.data
    }
  }))
}

const { articleData } = Astro.props;
---

<PrimaryLayout>
  <h1>{articleData.title}</h1>
  <img src={articleData.image} alt="" class="featured-image">
  <div class="flow" set:html={articleData.body} />
</PrimaryLayout>
