---
import PrimaryLayout from "../layouts/PrimaryLayout.astro"
const title = "Blog"
import FeaturedArticle from "../components/FeaturedArticle.astro"
import PopularArticles from "../components/PopularArticles.astro"
import fetchArticles from "../lib/fetchArticles"
const newArticles = await fetchArticles({count: 3});

---

<PrimaryLayout title="Homepage">
	<h1>Hello World</h1>
	<!-- HEADER  -->
	<div class="three-columns section">
		<FeaturedArticle class="span-2"/>
		<div class="inverted flow">
			<h2 class="accent-color">New</h2>
			<ul role="list" class="separated-list">
				{
					newArticles.map((article) => (
						<li><article class="flow">
							<h3><a href={`/article/${article.data.slug}`}>{article.data.title}</a></h3>
							<p class="truncate">{article.data.content}</p>
						</article>
						</li>
						
					))
				}
			</ul>
		</div>
	</div>
	<PopularArticles class="three-columns section"/>

	<div>

	</div>

</PrimaryLayout>